.navbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 2.5rem;
  min-height: 4rem /* 64px */;
  width: 100%;
  background-color: rgb(234, 234, 234);

  .item {
    margin-left: auto;
  }

  ul {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
  }

  .navbar-title {
    font-size: 0.8rem;
    font-weight: bold;
    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }

  .cart-icon {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .totalitem {
    color: green;
    font-weight: bold;
    display: inline-block;
    padding: 3px;
  }
}
:where(.navbar > *) {
  display: inline-flex;
  align-items: center;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
  height: 1.25rem /* 20px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  width: fit-content;
  padding-left: 0.563rem /* 9.008px */;
  padding-right: 0.563rem /* 9.008px */;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--b2) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b1) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  border-radius: var(--rounded-badge, 1.9rem);
}
:where(.menu li) .badge {
  justify-self: end;
}
