.shopping-card {
  --tw-bg-opacity: 1;
  background: rgb(255, 255, 255);
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-box, 1rem);
}
.shopping-card:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.shopping-card figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopping-card.image-full {
  display: grid;
}
.shopping-card.image-full:before {
  position: relative;
  content: "";
  z-index: 10;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  opacity: 0.75;
  border-radius: var(--rounded-box, 1rem);
}
.shopping-card.image-full:before,
.shopping-card.image-full > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.shopping-card.image-full:before,
.shopping-card.image-full > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.shopping-card.image-full > figure img {
  height: 100%;
  object-fit: cover;
}
.shopping-card.image-full > .shopping-card-body {
  position: relative;
  z-index: 20;
  --tw-text-opacity: 1;
  color: hsl(var(--nc) / var(--tw-text-opacity));
}
.shopping-card :where(figure:first-child) {
  overflow: hidden;
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
  border-end-start-radius: unset;
  border-end-end-radius: unset;
}
.shopping-card :where(figure:last-child) {
  overflow: hidden;
  border-start-start-radius: unset;
  border-start-end-radius: unset;
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
}
.shopping-card:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.shopping-card.bordered {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--b2) / var(--tw-border-opacity));
}
.shopping-card.compact .shopping-card-body {
  padding: 1rem /* 16px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}
.shopping-card.image-full :where(figure) {
  overflow: hidden;
  border-radius: inherit;
}

.shopping-card-body {
  display: flex;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-direction: column;
  padding: var(--padding-shopping-card, 2rem);
  gap: 0.5rem /* 8px */;
}
.shopping-card-body :where(p) {
  flex-grow: 1;
}
.shopping-card.image-full > .shopping-card-body {
  position: relative;
  z-index: 20;
  --tw-text-opacity: 1;
  color: hsl(var(--nc) / var(--tw-text-opacity));
}
.shopping-card.compact .shopping-card-body {
  padding: 1rem /* 16px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}
.shopping-card-compact .shopping-card-body {
  padding: 1rem /* 16px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}
.shopping-card-normal .shopping-card-body {
  padding: var(--padding-shopping-card, 2rem);
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
}
.shopping-card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem /* 8px */;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
}
.shopping-card-compact .shopping-card-title {
  margin-bottom: 0.25rem /* 4px */;
}
.shopping-card-normal .shopping-card-title {
  margin-bottom: 0.75rem /* 12px */;
}

.shopping-card-actions {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem /* 8px */;
  justify-content: flex-end;
}
