.cart-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &:nth-child(1) {
    order: 1;
  }
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 2rem;
  }

  //   background-color: rebeccapurple;
}

.summery-item {
  display: flex;

  :first-child {
    flex: 1;
    font-size: 0.8rem;
    color: gray;
    font-weight: 500;
  }

  .dollar {
    color: green;
  }
}
